---
layout: airyards
title: Air Yards
permalink: /air-yards/recent
nav: air-yards
---

{% assign all_data = site.data.airyards_recent.data | sort:"air_yards_per_game" | reverse %}

{% for data in all_data %}
  <tr class="hover:bg-blue-light">
    {% assign team = data["number"] | slice:0 | downcase %}
    {% assign number = data["number"] | slice:1,data["number"].size %}
    {% if data["number"] == "FA" %}
      {% assign number = "FA" %}
    {% endif %}
    {% assign last_name = data["player"] | split:" " | last %}

    <td class="cursor-pointer select-none" data-value="{{ last_name }}">
      <div class="jersey jersey-{{ team }}">{{ number }}</div>
    </td>
    <td class="text-left" data-value="{{ last_name }}">
      {{ data["player"] }}
    </td>
    <td class="text-center">{{ data["games"] }}</td>
    <td class="text-center">{{ data["receptions"] }}</td>
    <td class="text-center">{{ data["targets"] }}</td>
    <td class="text-center">{{ data["yards"] }}</td>
    <td class="text-center">{{ data["td"] }}</td>
    <td class="text-center">{{ data["yac"] }}</td>
    <td class="text-center">{{ data["air_yards"] }}</td>
    <td class="text-center">{{ data["targets_per_game"] }}</td>
    <td class="text-center">{{ data["air_yards_per_game"] }}</td>
    <td class="text-center">{{ data["racr"] }}</td>
    <td class="text-center">{{ data["wopr"] }}</td>
  </tr>
{% endfor %}
