{% assign nav = page.nav | downcase  %}

<nav class="flex items-center justify-between flex-wrap py-8">
  <div class="flex items-center flex-no-shrink mr-6">
    <a href="/" class="text-red-600 font-semibold text-4xl tracking-normal no-underline" title="Advanced CFL Stats and Fantasy Analytics">
      Slotback<span class="text-gray-800">Labs</span>
    </a>
  </div>
  <ul class="list-reset flex">
    <li class="mr-6">
      <a class="nav-link {% if nav == 'boxscores' %}active{% endif %}" href="/boxscores">Boxscores</a>
    </li>
    <li class="mr-6">
      <a class="nav-link {% if nav == 'air-yards' %}active{% endif %}" href="/">Air Yards</a>
    </li>
    <li>
      <a class="nav-link {% if nav == 'projections' %}active{% endif %}" href="/projections">Projections</a>
    </li>
  </ul>
</nav>
