.container {
  width: 960px;
  margin: 0 auto;
}

.jersey {
  color: white;
  font-weight: bold;
  padding: 4px;
  background: black;
  text-align: center;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  line-height: 22px;
  margin: 0.5rem;
  border: 3px solid;
}

.jersey-large {
  margin: 0;
  width: 50px;
  height: 50px;
  line-height: 32px;
  font-size: 24px;
  border: 5px solid;
}

.jersey-t {
  background: #0C2340;
  color: #FFFFFF;
  border-color: #5E90B0;
}

.jersey-h {
  background: #010101;
  color: #FFB81C;
}

.jersey-c {
  background: #C8102E;
  color: #FFFFFF;
  border-color: #010101;
}

.jersey-o {
  background: #010101;
  border-color: #A6192E;
  color: #ffffff;
}

.jersey-s {
  background: #006341;
  color: #ffffff;
  border-color: #006341;
}

.jersey-m {
  color: #1c3c71;
  background: #FFFFFF;
  border-color: #921929;
}

.jersey-e {
  background: #2C5234;
  color: #FFB81C;
}

.jersey-b {
  background: #FC4C02;
  color: #010101;
}

.jersey-w {
  background: #003087;
  color: #FFFFFF;
  border-color: #B9975B;
}

.jersey-f {
  background: transparent;
  color: #2b2d42;
  font-weight: normal;
  border: 2px #2b2d42 dashed;
}

th {
  padding: 0 7px;
}

thead > tr {
  height: 56px;
}

#airyards-table tbody > tr,
#boxscore-table tbody > tr {
  height: 60px;
  border: 3px solid #f3f3f3;
  border-top: 0px;
}

.striped > tr:nth-child(odd) {
  background: #ffffff;
}

.striped > tr:nth-child(even) {
  background: #f2f2f2;
}

.info-icon {
  height: 14px;
  width: 14px;
  margin-top: -1px;
}

.choices__inner {
  border: 2px solid #d8d8d8;
  border-radius: 10px;
}

.is-open .choices__inner {
  border-radius: 10px 10px 0 0;
}