<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | Advanced CFL Stats & Fantasy Analytics | SlotbackLabs</title>
  <meta name="author" content="Matt Swanson" />
  <meta name="description" content="Advanced Canadian Football (CFL) Stats and Fantasy Analytics. Tools, Projections, and Analytics for Daily Fantasy Sports (DFS)" />
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

  <link rel="stylesheet" href="/css/site.css" />
  <script src="/js/script.js"></script>
</head>
<body>
  <div class="container">
    {% include nav.html %}

    <div class="bg-teal-100 text-teal-900 p-4 rounded-b-lg mb-6 border-teal-500 border-t-4 shadow">
      <p class="font-bold text-xl">Welcome to the 2019 CFL Season!</p>
      <p class="my-6">Note: GLSP projections are based on a rolling average so use at your own risk until a few 2019 weeks of data can be incorporated.</p>
      <p>Air Yards and Boxscores will be updated after 2019 Week 1 games.</p>
    </div>

    <div class="main">
      {{ content }}
    </div>
  </div>
  <div class="footer">
    <div class="container">
      {% include footer.html %}
    </div>
  </div>

  <script>
    tippy('.tooltip')
  </script>
</body>
</html>
